/* Result.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* 오버레이 배경색 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* 그림자 추가 */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #89bbd8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7599bd;
    /* 버튼 색상 변경 */
}